@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>ADD NEW EXPENSES</h1>
      <a>Welcome in Expenses App 
          You decided how you want to spent your money
      </a>
</div>
