@model ExpensesApp.Models.Category


<h2>Create New Category</h2>

<form asp-action="CreateCategory" method="post">
    <div class="form-group">
        <label for="Name">Nazwa kategorii</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj kategorię</button>
</form>

<a href="@Url.Action("ManageCategories", "Expenses")" class="btn btn-secondary">Back to Categories</a>